{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<!-- Profile page, 2 rows 1 card -->

<div class="flex flex-wrap">
    <div class="w-full mx-auto md:w-1/2 xl:w-1/3 p-3">
        <div class="bg-white border-transparent rounded-lg shadow-lg">
            <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
                <h5 class="font-bold uppercase text-gray-600">Profile</h5>
            </div>
            <!-- Profile picture -->
            <div class="flex p-5 items-center">
                <img class="w-32 rounded-full" src="https://curie77.fr/wp-content/uploads/2016/04/icon-user.png"
                    alt="profile picture">
                <p class="text-gray-700 mx-auto font-semibold text-xl">
                    {{ user.name }} {% if "ROLE_ARTIST" in user.roles %}<i class="fa-solid fa-paintbrush"></i>{% endif %}
                    {% if "ROLE_ADMIN" in user.roles %}<i class="fa-solid fa-screwdriver-wrench"></i>{% endif %}
                    {% if "ROLE_USER" in user.roles %}<i class="fa-solid fa-user-check"></i>{% endif %}
                </p>
            </div>
            <div class="p-5">
                <p class="text-gray-700 text-base">
                    <span class="font-bold">Email:</span> {{ user.email }}
                </p>
            </div>
            <svg class="mx-auto" width="310" height="30" xmlns="http://www.w3.org/2000/svg">
                <path d="M 10 10 L 300 10" stroke="#000" />
            </svg>
            <!-- Commission state -->
            <div class="p-5">
                <p class="font-semibold font-sans text-lg">Commission State : <span class="text-yellow-400">Work In
                        Progress</span></p>
                <ul class="list-disc mt-2 mx-5">
                    <li>Portrait black&white shadow</li>
                </ul>
            </div>
            <div class="p-5 my-3">
                <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded">
                    <a href="#">Refsheet</a>
                </button>
            </div>
        </div>
    </div>
    <div class="w-full mx-auto md:w-1/2 xl:w-1/3 p-3">
        <div class="bg-white border-transparent rounded-lg shadow-lg flex flex-col">
            <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
                <h5 class="font-bold uppercase text-gray-600">Comments -- {{ user.comments.count }}</h5>
            </div>
            <div class="overflow-auto" style="max-height: 40rem;">
                <div class="bg-white py-2 px-3 my-3 mx-2 rounded border hover:shadow-md">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, beatae? Numquam dolore repellat
                        officia rerum maxime quos at vitae autem velit nihil doloremque iusto hic, ipsa mollitia
                        consequatur aut ipsam.</p>
                </div>
                <div class="bg-white py-2 px-3 my-3 mx-2 rounded border hover:shadow-md">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, beatae? Numquam dolore repellat
                        officia rerum maxime quos at vitae autem velit nihil doloremque iusto hic, ipsa mollitia
                        consequatur aut ipsam.</p>
                </div>
                <div class="bg-white py-2 px-3 my-3 mx-2 rounded border hover:shadow-md">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, beatae? Numquam dolore repellat
                        officia rerum maxime quos at vitae autem velit nihil doloremque iusto hic, ipsa mollitia
                        consequatur aut ipsam.</p>
                </div>
                <div class="bg-white py-2 px-3 my-3 mx-2 rounded border hover:shadow-md">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, beatae? Numquam dolore repellat
                        officia rerum maxime quos at vitae autem velit nihil doloremque iusto hic, ipsa mollitia
                        consequatur aut ipsam.</p>
                </div>
                <div class="bg-white py-2 px-3 my-3 mx-2 rounded border hover:shadow-md">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, beatae? Numquam dolore repellat
                        officia rerum maxime quos at vitae autem velit nihil doloremque iusto hic, ipsa mollitia
                        consequatur aut ipsam.</p>
                </div>
                <div class="bg-white py-2 px-3 my-3 mx-2 rounded border hover:shadow-md">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, beatae? Numquam dolore repellat
                        officia rerum maxime quos at vitae autem velit nihil doloremque iusto hic, ipsa mollitia
                        consequatur aut ipsam.</p>
                </div>
                <div class="bg-white py-2 px-3 my-3 mx-2 rounded border hover:shadow-md">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, beatae? Numquam dolore repellat
                        officia rerum maxime quos at vitae autem velit nihil doloremque iusto hic, ipsa mollitia
                        consequatur aut ipsam.</p>
                </div>
                <div class="bg-white py-2 px-3 my-3 mx-2 rounded border hover:shadow-md">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, beatae? Numquam dolore repellat
                        officia rerum maxime quos at vitae autem velit nihil doloremque iusto hic, ipsa mollitia
                        consequatur aut ipsam.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}